.card_body{
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: #6dd6d1;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
    font-size: 50px;
    transition: 500ms;
    text-align: center;

    outline: none;
    border: 10px solid #404B69;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 hsl(0, 100%, 43%);
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;

}

.card{
    color: #DBEDF3;
    text-shadow: 3px 0 #bebc11;
    text-align: center;

}

.card_body:hover {
    border: 2px solid #6dd6d1;
  animation: hueRotation 2s infinite linear;
}

@keyframes hueRotation {
    to {filter: hue-rotate(360deg);}
  }

.card_body:focus {
    outline: none;
  }

